<%= form_for(@message) do |form| %>  
  <div class="field"> 
    <%= form.label :message %><br> 
    <%= form.text_area :content %> 
  </div> 
  <div class="actions"> 
    <%= form.submit "Create" %> 
  </div> 
<% end %>
